<h2>
  <%= @game.opponent.name %> attacked <%= @game.current_turn.name %>!
</h2>

<a style="text-decoration:none;color:white" href="/play">
  <button style="width:200px; background-color:orange;color:black;font-size:40px;">See scores</button>
</a>
