<div style="text-align:center">
<h2>
  <%= @game.opponent.name %> attacked <%= @game.current_turn.name %>!
</h2>

<div style="clear:both;">
<iframe src="//giphy.com/embed/Wrei7jFEjtD1u" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>

<a style="text-decoration:none;color:white" href="/play">
  <button style="width:200px; background-color:orange;color:black;font-size:40px;">See scores</button>
</a>

</div>
