<h2><%= @player_one_name %> attacked <%= @player_two_name %>!</h2>

<a style="text-decoration:none;color:white" href="/play"><button style="width:200px; background-color:orange;color:black;font-size:40px;">See Scores</button></a>
