<div style="font-size:100px; color:red; text-align:center; margin-top:150px">
<h2>
    <%= @game.winner.name %> wins!
</h2>

<a style="text-decoration:none;color:white" href="/">
  <button style="font-family: Impact; letter-spacing:3px;margin-top: -80px; width:220px; height: 60px; background-color:orange;color:black;font-size:28px;">Play again</button>
</a>

</div>
